auto-save-list/
backups/*
!backups/.gitignore
ac-comphist.dat
projectile-bookmarks.eld
tramp
eshell/
recentf
server/*
url/*
.python-environments/*
.emacs.desktop
smex-items
projectile.cache
recentf~
themes/
GPATH
GRTAGS
GTAGS
TAGS
SessionDesktop.el
bookmarks
messages.log
.cask/
.clang_complete
irony/
rake.cache
company-statistics-cache.el
company-cache.el
lang/objc/ycm_conf.pyc
lang/c/ycm_conf.pyc
flycheck_init.el
async-bytecomp.log
elpa/archives/gnu/archive-contents
elpa/archives/melpa/archive-contents
elpa/archives/gnu/archive-contents.signed
elpa/gnupg/.gpg-v21-migrated
elpa/archives/melpa/archive-contents.signed
anaconda-mode/